*,
*::after,
*::before {
  box-sizing: border-box;
}

html{
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}
:root {
  --very-dark-megenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

.review-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  background-size: 50%, 50%;
}

.review-header {
  width: 50%;
  padding: 1rem;
}
.review-tagline {
  font-size: 3rem;
  font-weight: 700;
  width: 65%;
  line-height: 40px;
  color: var(--very-dark-megenta)
}
.review-subtagline {
  width: 75%;
  margin-top: 0.8rem;
  line-height: 1.2rem;
  color: var(--dark-grayish-magenta);
}
.ratings-list {
  width: 50%;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: 1rem;
}

.rating-item {
  display: flex;
  background-color: var(--light-grayish-magenta);
  width: 70%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 10px;
}
#rating-item2{
  margin-left:auto;
  margin-right: auto;
}
#rating-item3{
  margin-left:auto;
}
.rating-stars{
  margin-right: 2rem;
  margin-left: 1rem;
}
.rating-description{
  color: var(--very-dark-megenta);
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}
.testimonials {
  width: 100%;
  display: flex;
  padding: 1rem;
  margin-top: 2rem;
}

.testimonial-card {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--very-dark-megenta);
  padding: 1.5rem;
  border-radius: 8px;
  width: 31.5%;
  height: 30%;
}
#testimonial-card2{
  margin: auto;
  margin-top: 1rem;

}
#testimonial-card3{
  margin-top: 2rem;
}
.review {
  color: var(--white);
  font-weight: 500;
  width: 94%;
}
.buyer-details{
  margin-top: 0.5rem;
}
.name{
  color: var(--white);
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.caption{
  color: var(--soft-pink);
  font-weight: 400;
}
.buyer-image {
  width: 3rem;
  height: 3rem;
  border: 0px solid;
  border-radius: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2.5rem;
  margin-bottom: 2.5rem;
  margin-bottom: 2rem;
}
